   $theme-color-red: #ce181e;
    $theme-white: #fff;
    $theme-white-second:#eee;
    $theme-paragraph: #777;
    $theme-title: #1c1c1c;
    $theme-dark: #181818;
    $theme-dark-lite: #272626;
    $theme-paragraph-second:#cecece;
    $theme-line-color:rgba(255, 255, 255, 0.3)